.navbar-brand {
  color: green;
}

.navbar-nav {
  margin: auto;
}

.navbar-nav li {
  margin-right: 10px;
}

.nav-link {
  color: black;
}

.nav-link:hover {
  color: green;
}

#green{
  background-color: #198754; margin-left: auto;margin-right: auto; width: 80%;
  color: #198754;
}
