<div class="card mb-3 w-75 text-center mx-auto border-0">
  <div class="row g-0 d-flex align-items-center">
    <div class="col-md-8">
      <img src="assets/3.jpg" class="img-fluid rounded-start h-100" alt="...">
    </div>
    <div class="col-md-4">
      <div class="card-body">
        <h5 class="card-title">High Quality &<span class="text-success">Insurance provider</span>  Services</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
</div>
