<div class="card-group w-75 mx-auto mt-3">

  <div class="card ">
    <div class="card-body text-center">
      <img src="assets/1.jpg" class="d-block h-100 w-100" alt="...">

    </div>
  </div>
  <div class="card">
    <h1 class="text-center">Have a <span class="text-success">free</span>  time<span class="text-success">?</span></h1>
    <form (submit)="onSubmit()">
      <div class="row mb-3">
        <label class="col-sm-4 col-form-label text-center">Name</label>
        <div class="col-sm-8">
          <input type="text" class="form-control input-green" id="inputName" placeholder="Enter your name">
        </div>
      </div>
      <div class="row mb-3">
        <label class="col-sm-4 col-form-label text-center">Age</label>
        <div class="col-sm-8">
          <input type="number" class="form-control input-green" id="inputAge" placeholder="Enter your age">
        </div>
      </div>
      <div class="row mb-3">
        <label class="col-sm-4 col-form-label text-center">Email</label>
        <div class="col-sm-8">
          <input type="email" class="form-control input-green" id="inputEmail" placeholder="Enter your email">
        </div>
      </div>
      <div class="row mb-3">
        <label class="col-sm-4 col-form-label text-center">Address</label>
        <div class="col-sm-8">
          <input type="text" class="form-control input-green" id="inputAddress" placeholder="Enter your address">
        </div>
      </div>
      <div class="row mb-3">
        <label class="col-sm-4 col-form-label text-center">Cover Letter</label>
        <div class="col-sm-8">
          <textarea class="form-control input-green" id="inputCoverLetter" rows="5" placeholder="Enter your cover letter"></textarea>
        </div>
      </div>

      <button type="submit" class="btn btn-primary btn-success text-center">Join us</button>
    </form>

  </div>

</div>
