<div class="card-group ">

  <div class="card ">
    <div class="card-body text-center">
      <i class="fa-solid fa-money-bill-transfer fa-2xl d-block  m-5"></i>
      <h5 class="card-title">Card title</h5>
    </div>
  </div>
  <div class="card">
    <div class="card-body text-center">
      <i class="fa-solid fa-money-bill-transfer fa-2xl d-block  m-5"></i>
      <h5 class="card-title">Card title</h5>
    </div>
  </div>  <div class="card">
    <div class="card-body text-center">
      <i class="fa-solid fa-money-bill-transfer fa-2xl d-block  m-5"></i>
      <h5 class="card-title">Card title</h5>
    </div>
  </div>


</div>
