<div class="card-group w-75 mx-auto mt-3">

  <div class="card ">
    <div class="card-body text-center">
      <i class="fa-solid fa-money-bill-transfer fa-2xl d-block  m-5 text-success"></i>
      <h5 class="card-title text-success">500$</h5>
    </div>
  </div>
  <div class="card">
    <div class="card-body text-center">
      <i class="fa-solid fa-money-bill-transfer fa-2xl d-block  m-5 text-success"></i>
      <h5 class="card-title text-success">500$</h5>
    </div>
  </div>  <div class="card">
    <div class="card-body text-center">
      <i class="fa-solid fa-money-bill-transfer fa-2xl d-block  m-5 text-success"></i>
      <h5 class="card-title text-success">500$</h5>
    </div>
  </div>
  <div class="card ">
    <div class="card-body text-center">
      <i class="fa-solid fa-money-bill-transfer fa-2xl d-block  m-5 text-success"></i>
      <h5 class="card-title text-success">500$</h5>
    </div>
  </div>

</div>
